@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
/* Add product form first template */
.addform {
  width: 10%;
  text-align: center;
  margin: auto;
}
select,
input,
form {
  width: 170px;
}
select {
  text-align: center;
}
/* Finish first Add product template  */
.view-viewport {
  height: 100vh;
  opacity: 1;
  position: relative;
  z-index: -1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;

  position: fixed;
  width: 100%;
  font-weight: bold;
  z-index: 1;
  opacity: 1.5;
}
.nav-button {
  background: transparent;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  /* display: flex; */
  margin: 0 5px;
}
.nav-btns {
  text-align: center;
}
.searchbar {
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  padding: 3.5px;
  outline: none;
  font-family: Arial, FontAwesome;
}
.searchbar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-weight: 600;
  opacity: 1; /* Firefox */
}
.view-home {
  height: 100vh;
}
li {
  padding: 10px;
}
a,
button {
  cursor: pointer;
}
/* Sign Up modal  */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 10px; */
  align-items: center;
}
.modal form label {
  margin-top: 15px;
}
.msg-register {
  color: red;
}
.submit {
  margin-top: 20px;
}
.myModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background-color: white;
  cursor: pointer;
  color: red;
  font-weight: bold;
}
/* Manage products */
.products-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product {
  display: flex;
  padding: 1%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}
.product img {
  width: 200px;
}
/* Provider info styling */

.edit {
  display: inline;
  cursor: pointer;
  background: none;
  border: none;
}
.to-edit {
  display: inline;
}
/* Delete product button */
.delete {
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
  border: none;
}
/* All providers diplay in Admin Dashboard */
.providers {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
.providers td,
.providers th {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}
.providers th {
  background-color: orange;
  color: white;
}
.active {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.active input {
  width: 20px;
}
/* Popup cart */
.cartPopup {
  display: none;
  color: white;
  background-color: rgb(56, 32, 32);
  padding: 1%;
  width: 350px;
  position: absolute;
  top: 60px;
  right: 10px;
}
/* Filtering */
.filter-container {
  margin: auto;
  width: 90%;
  background-color: rgba(162, 155, 155, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
/* search popup */
.searchList {
  display: none;
  position: absolute;
  left: 400px;
  top: 70px;
  padding: 1%;
  min-height: 100px;
  background-color: rgb(245, 237, 220);
}
/* single product */
.singleImg {
  max-height: 90vh;
}
.searchStuff {
  display: flex;
}
.searchImg {
  width: 80px;
  height: 100px;
}
.filter-container > div {
  width: 12%;
  margin: 0 5px;
  border: none;
}
.filter-container > div > select {
  width: 100%;
}
